<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Streaming Videos - FIAP fase 4</title>
</head>
<body>

<h1>FIAP Fase 4 - streaming</h1>

<form id="uploadForm" enctype="multipart/form-data">
    <label for="videoFile">Selecione um vídeo para carregar:</label>
    <input type="file" id="videoFile" name="arquivo" accept="video/*" required>
    <br>
    <label for="fileName">Nome do arquivo:</label>
    <input type="text" id="fileName" name="nomeArquivo" required>
    <br>
    <label for="titulo">Título:</label>
    <input type="text" id="titulo" name="titulo">
    <br>
    <label for="descricao">Descrição:</label>
    <input type="text" id="descricao" name="descricao">
    <br>
    <label for="dataPublicacao">Data publicação:</label>
    <input type="date" id="dataPublicacao" name="dataPublicacao">
    <br>
    <label for="categoria">Categoria:</label>
    <input type="text" id="categoria" name="categoria">
    <br>
    <label for="favorito">Favorito:</label>
    <select id="favorito" name="favorito">
        <option value="true">Sim</option>
        <option value="false">Não</option>
    </select>
    <br>

    <button type="button" onclick="uploadVideo()">Upload Video</button>
</form>

<hr>

<h2>Play Video</h2>
<video id="videoPlayer" width="640" height="360" controls>
    Your browser does not support the video tag.
</video>

<h2>Todos os videos</h2>
<ul id="videoList">
    <li th:each="video : ${videos}">
        <p>
            <a th:href="@{/videos/play/{videoId}(videoId=${video.videoId})}" th:text="${video.nomeArquivo}"></a>
        </p>
    </li>
</ul>

<hr>

<script>
    function uploadVideo() {
        const form = document.getElementById('uploadForm');
        const formData = new FormData(form);

        const request = {
            nomeArquivo: formData.get('nomeArquivo'),
            titulo: formData.get('titulo'),
            descricao: formData.get('descricao'),
            dataPublicacao: formData.get('dataPublicacao'),
            categoria: formData.get('categoria'),
            favorito: formData.get('favorito'),
        };

        formData.delete('nomeArquivo');
        formData.delete('titulo');
        formData.delete('descricao');
        formData.delete('dataPublicacao');
        formData.delete('categoria');
        formData.delete('favorito');

        formData.append('request', new Blob([JSON.stringify(request)], { type: "application/json" }));

        fetch('/videos', {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            console.log('Video uploaded:', data);
            window.location.reload();
        })
        .catch(error => console.error('Error uploading video:', error));
    }

    function playVideo(videoUrl) {
        const videoPlayer = document.getElementById('videoPlayer');
        videoPlayer.src = videoUrl;
        videoPlayer.load();
        videoPlayer.play().catch(e => console.error("Error playing video:", e));
    }

    function fetchAndDisplayVideos() {
        fetch('/videos')
            .then(response => response.json())
            .then(videos => {
                const videoList = document.getElementById('videoList');
                videoList.innerHTML = '';

                videos.forEach(video => {
                    const videoItem = document.createElement('li');
                    const videoLink = document.createElement('a');
                    videoLink.href = `#`;
                    videoLink.textContent = video.nomeArquivo;
                    videoLink.onclick = function(event) {
                        event.preventDefault();
                        playVideo(`/videos/play/${video.videoId}`);
                    };
                    videoItem.appendChild(videoLink);
                    videoList.appendChild(videoItem);
                });
            })
            .catch(error => console.error('Error fetching videos:', error));
    }

    document.addEventListener('DOMContentLoaded', fetchAndDisplayVideos);
</script>

</body>
</html>
