<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Estatísticas dos Vídeos</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">Streaming FIAP</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/recommendation">Recomendação</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/favorite">Videos favoritos</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-4">
    <h1>Estatísticas dos Vídeos</h1>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Resumo</h5>
            <p class="card-text">Total de Vídeos: <span id="totalVideos">Carregando...</span></p>
            <p class="card-text">Total de Favoritos: <span id="totalFavorites">Carregando...</span></p>
            <p class="card-text">Média de Visualizações: <span id="previewAverage">Carregando...</span></p>
        </div>
    </div>
</div>

<!-- Bootstrap JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.4.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        fetch('/statistic')
            .then(response => response.json())
            .then(data => {


                document.getElementById('totalVideos').textContent = data.totalVideos;
                document.getElementById('totalFavorites').textContent = data.totalFavorites;
                document.getElementById('previewAverage').textContent = data.previewAverage.toFixed(2);
            })
            .catch(error => {
                console.error('Erro ao buscar estatísticas:', error);
            });
    });
</script>

</body>
</html>
